* {
  background-color: #bdbdbd;
  color: #000000;
  font-family: "Helvetica", sans-serif;
  }

h1, h2 {
  text-align: center;
}

h1 {
  background-color: #000;
  color: #FFF;
  margin: -10px;
  padding: 16px 0;
}

img {
 width: 400px;
 height: auto;
 border-radius: 50%;
 display: block;
 margin: 36px auto;
}

.divider {
  background-color: #FFF;
  width: 80%;
  height: 90%;
  margin: 36px auto 36px;
  padding: 10px;
  border-radius: 2%;
}

div h2, li, p {
  background-color: #FFF;
}

.description {
  text-align: center;
  background-color: #FFF;
}

ul {
  background-color: #FFF;
  margin-left: 625px; 
}

ol {
  background-color: #FFF;
}

.link {
  margin-left: 915px;
  margin-bottom: 32px;
  background-color: #bdbdbd;
}

a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}