*, *::before, *::after {
  margin: 0;
}

* {
  background-color: #bdbdbd;
  font-family: "Helvetica", sans-serif;
}

h1 {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 16px 0;
}

img {
  width: min(400px, 100%);
  height: auto;
  border-radius: 5%;
  margin: 10px auto;
  display: block;
}

ul {
  margin-top: 32px;
}

li {
  list-style-type: none;
  font-size: 18px;
  text-align: center;
  margin: 2px 0;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #FFFFFF;
}